<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src='{{dish.image}}' alt='{{dish.name}}'>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
        <span class="fa fa  -chevron-left fa-lg"></span>
      </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="dish">
    <mat-list>
      <h1>Comments</h1>
      <mat-list-item *ngFor="let comment of dish.comments">
        <h4 matLine>{{comment.comment}}</h4>
        <h5 matLine>{{comment.rating}} stars</h5>
        <h5 matLine>-- {{comment.author}} {{comment.date | date}}</h5>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex [hidden]="dish">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>

</div>
